body {
    margin: 0px;
}

.main {
    display: flex;
    height: 700px;
    width: 900px;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 1px 2px 7px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.left {
    width: 280px;
}

.right {
    width: 620px;
}

.friends-filter {
    text-align: center;
}

.contact-card {
    display: flex;
    height: 120px;
}

.contact-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}