body {
    margin: 0px;
}

.main {
    display: flex;
    height: 700px;
    width: 900px;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 1px 2px 7px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: rgb(253, 236, 217);
}

.left {
    width: 280px;
}

.left input {
    height: 25px;
    border-color: orange;
    background-color: rgb(255, 230, 201);
    border-radius: 5px;
}

.friends-filter {
    text-align: center;
}

.contact-cards {
    margin-top: 10px;
    height: 510px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: orange transparent;
}

.contact-card {
    display: flex;
    align-items: center;
    height: 120px;
    padding-left: 30px;
    background-color: rgb(253, 236, 217);
}

.contact-card:hover {
    background-color: rgb(255, 230, 201);
}

.contact-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.contact-card p {
    margin-left: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 620px;
    padding: 0px 60px;
}

.right img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 90px;
}


.phone-number {
    font-weight: bold;
}    

.right button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.edit-button {
    margin-top: 30px;
    background-color: rgb(255, 170, 72);
    border-color: rgb(255, 170, 72);
}

.edit-button:hover {
    background-color: rgb(255, 181, 96);
}

.delete-button {
    margin-top: 110px;
    background-color: white;
    border: red 2px solid;
}

.delete-button:hover {
    background-color: rgb(251, 251, 251);
}